In [1]:
import pymongo
import pandas as pd
import numpy as np
import os

In [2]:
import sys
sys.path[-1]

'C:\\Users\\rkustas\\.ipython'

In [3]:
# Create the connection to mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Check current directory path
os.getcwd()

'C:\\Users\\rkustas\\OneDrive - ogg.com\\DU_class\\Crossfit\\Jupyter'

In [5]:
# Load sample of CSVs
event_path = "../CSVs/events.csv"
event_df = pd.read_csv(event_path)
event_df.head()

,Competitor_id,Competitor_name,Event_num,Event_rank,Event_score,Event_score_display,Event_year,Event_time,Event_judge,Event_score_units
0,153604,Mathew Fraser,1,4,14760000,476,2018,0.0,Anthony Jay Wilkerson,reps
1,153604,Mathew Fraser,2,49,11100478,4:02,2018,242.0,Matt O'Keefe,NaN
2,153604,Mathew Fraser,3,21,13800478,380,2018,242.0,Matt O'Keefe,lb
3,153604,Mathew Fraser,4,17,19160001,916,2018,839.0,Darren Hunsucker,reps
4,153604,Mathew Fraser,5,5,11650141,6:39,2018,399.0,Angelo Dicicco,NaN

In [6]:
# Create the database
db = client.crossfit

In [7]:
# Converting df to dictionary to load many entries at once
event_data = event_df.to_dict(orient='records')
db.event_data.insert_many(event_data)

In [8]:
# Load other files
ath_path = "../CSVs/athletes.csv"
athletes = pd.read_csv(ath_path)
athletes.head()

,Competitor_id,Competitor_name,first_name,last_name,status,gender,region_name,affiliate_id,affiliate_name,age,height,weight
0,153604,Mathew Fraser,Mathew,Fraser,ACT,M,Central East,3220,CrossFit Mayhem,28,67.0,195.0
1,180541,Alex Vigneault,Alex,Vigneault,ACT,M,Canada East,10990,CrossFit Quebec City,26,71.0,208.0
2,702092,Willy Georges,Willy,Georges,ACT,M,Europe South,16786,CrossFit DBS 83,25,70.5,155.1
3,308712,Jean-Simon Roy-Lemaire,Jean-Simon,Roy-Lemaire,ACT,M,Canada East,4459,Tonic CrossFit,24,69.3,195.0
4,158264,Patrick Vellner,Patrick,Vellner,ACT,M,Canada East,6214,CrossFit Solid Ground (inactive),28,71.0,195.0

In [9]:
# Convert to dictionary to load many athletes all at once
ath_data = athletes.to_dict(orient='records')
db.athletes.insert_many(ath_data)

In [10]:
# Load affiliates
aff_path = "../CSVs/Affiliate_info.csv"
affiliate = pd.read_csv(aff_path)
affiliate.head()

,Affiliate_id,Affiliate_name,Address,City,State,Zip,Country,Website,Phone,Latitude,Longitude
0,3,CrossFit Persist,"165 Amboy Ave, #705",Morganville,NJ,7751,United States,http://www.crossfitpersist.com/,(732) 687-1050,40.3604,-74.2894
1,4,Far North CrossFit,17 Finlayson Street,Whangarei,Northland,110,New Zealand,http://www.farnorthcrossfit.com,021 022 09234,-35.7270,174.3274
2,5,CrossFit Dubuque,3080 Cedar Crest Ct.,Dubuque,IA,52003,United States,http://crossfitdubuque.com/,(563) 552-8423,42.4787,-90.7068
3,6,Ballston CrossFit,1110 North Glebe Rd,Arlington,VA,22201,United States,http://www.ballstoncrossfit.com/,(703) 688-2238,38.8838,-77.1172
4,8,CrossFit Moorabbin,16 Coachranes Road,Moorabbin,VIC,3189,Australia,http://www.crossfitmoorabbin.com,+61 (0)418 565 065,-37.9424,145.0619

In [11]:
# Convert to dictionary to load affiliates
aff_data = affiliate.to_dict(orient='records')
db.affiliates.insert_many(aff_data)